<div class="border-b flex justify-between items-center p-4 text-xl font-bold">
  <div class="flex items-center gap-4">
    <h1>Pinterest</h1>
    <a href="/create">create</a>
  </div>
  <div class="flex items-center gap-4">
    <a href="/home">Home</a>
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>
  </div>
</div>
