<%- include("./partials/header") %> <%- include("./partials/navbar") %>

<div class="flex items-start justify-center pt-4">
  <!-- Main Form -->
  <div class="w-3/4 ml-10 bg-white shadow-lg rounded-lg p-8">
    <h2 class="text-2xl font-semibold mb-6">Create Pin</h2>
    <form
      class="space-y-6"
      action="/create"
      method="post"
      enctype="multipart/form-data"
    >
      <!-- Image Upload -->
      <div
        class="border-2 border-dashed border-gray-300 rounded-lg h-24 flex items-center justify-center"
      >
        <label
          for="file-upload"
          class="cursor-pointer text-gray-500 flex flex-col items-center"
        >
          <svg
            class="w-10 h-10 mb-2"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 16l5-5m0 0l5 5m-5-5v12"
            />
          </svg>
          <span>Choose a file or drag and drop it here</span>
          <input
            id="file-upload"
            type="file"
            class="hidden"
            accept="image/*"
            name="image"
          />
        </label>
      </div>
      <p class="text-sm text-gray-400">
        We recommend using high-quality JPG files less than 20 MB or MP4 files
        less than 200 MB.
      </p>

      <!-- Title -->
      <div>
        <label class="block text-gray-700 font-medium mb-2" for="title">
          Title
        </label>
        <input
          type="text"
          id="title"
          name="title"
          class="w-full border-gray-300 rounded-md shadow-sm focus:ring-red-500 focus:border-red-500"
          placeholder="Add a title"
        />
      </div>

      <!-- Description -->
      <div>
        <label class="block text-gray-700 font-medium mb-2" for="description">
          Description
        </label>
        <textarea
          id="description"
          name="description"
          rows="3"
          class="w-full border-gray-300 rounded-md shadow-sm focus:ring-red-500 focus:border-red-500"
          placeholder="Add a detailed description"
        ></textarea>
      </div>
      <!-- Submit -->
      <button
        type="submit"
        class="w-full bg-red-500 text-white font-medium py-2 px-4 rounded-md"
      >
        Save
      </button>
    </form>
  </div>
</div>

<%- include("./partials/footer") %>
